{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<header role="banner">
  {% if logo %}
    <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}" width="{{ logo_width }}"/>
    </a>
  {% endif %}
</header>

<main role="main" class="uk-margin-top">
  {% if title %}
    <h1 class="uk-heading-large">{{ title }}</h1>
  {% endif %}
  {{ page.highlighted }}
  {{ page.content }}
</main>

{% if page.sidebar_first %}
  <aside role="complementary">
    {{ page.sidebar_first }}
  </aside>
{% endif %}

{% if page.sidebar_second %}
  <aside role="complementary">
    {{ page.sidebar_second }}
  </aside>
{% endif %}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
